<h1>Sean Wright's Professional Portfolio</h1>
<h2>This is a constant WIP, just like we all are...</h2>
<h2 class="collapsible-title">Introduction</h2>
<p>
	Welcome to my personal website. This serves as a milestone marker of where I've come since my graduation from Dev Bootcamp on February 2017 as a member of the San Francisco Otters cohort.
</p>
<p>
	I hope to accomplish this by continuously building on this website using all of the skills I have learned.
</p>

<div class="collapsible">
	<h2 class="collapsible-title">Technology Learned</h2>
	<ul>
		<li><h3>Test Driven Development</h3></li>
		<ul>
			<li>Ruby</li>
			<ul>
				<li>Rails</li>
				<li>Rack: Sinatra &amp; Shotgun</li>
				<li>RSpec</li>
			</ul>
			<li>JavaScript</li>
			<ul>
				<li>jQuery / AJAX</li>
				<li>three.js</li>
				<li>Jasmine</li>
			</ul>
			<li>Python</li>
		</ul>
		<li><h3>Mobile Development</h3></li>
		<ul>
			<li>React-Native</li>
		</ul>
		<li><h3>Database Management</h3></li>
		<ul>
			<li>SQL</li>
			<li>PostgreSQL</li>
			<li>SQLite3</li>
			<li>ActiveRecord</li>
		</ul>
		<li><h3>Website Design / Development (MVC, MVVM, MVP)</h3></li>
		<ul>
			<li>HTML / HTML5</li>
			<li>CSS / CSS3</li>
			<li>Adobe Creative Suite</li>
		</ul>
		<li><h3>Other Professional Experience</h3></li>
		<ul>
			<li>Certified CompTIA A+ Technician</li>
			<li>Ektron Management System</li>
			<li>Wordpress</li>
			<li>Shopify</li>
		</ul>
	</ul>
</div>